
@{
    ViewBag.Title = "Ejecutivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejecutivos</h2>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover" id="tb_empleado">

        </table>
    </div>
</div>





